<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
   <h1>Edit Profile:</h1> 
   <form action="/users/<%= user._id %>?_method=PATCH" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="name" value="<%= user.name %>" disabled>
        </div>
        <div>
            <label for="gender">Gender:</label>
            <select name="gender" id="gender">
                <% for (let gender of genders) { %> 
                    <% if (gender === user.gender) { %> 
                        <option value="<%= gender %>" selected><%= gender %></option>
                    <% } else { %> 
                        <option value="<%= gender %>"><%= gender %></option>
                    <% } %> 
                <% } %> 
            </select>
        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" placeholder="phone" value="<%= user.phone %>">
        </div>
        <div>
            <label for="address">Address:</label><br>
            <textarea name="address" id="address" cols="30" rows="4" placeholder="<%= user.address %>"></textarea>
        </div>
        <div>
            <label for="standard">Standard:</label>
            <select name="standard" id="standard">
                <% for (let standard of standards) { %> 
                    <% if (standard === user.standard) { %> 
                        <option value="<%= standard %>" selected><%= standard %></option>
                    <% } else { %> 
                        <option value="<%= standard %>"><%= standard %></option>
                    <% } %> 
                <% } %> 
            </select>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="email" value="<%= user.email %>">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="password">
        </div>
       <button type="submit">Save</button>
   </form>
   <a href="/">Back to Home</a>
</body>
</html>